.planet_list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
}
.active {
  border-bottom: 3px solid var(--txt-color);
  padding-bottom: 0.4rem;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem 0;
}
.extra {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
}

.facts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ==Pc */
@media screen and (min-width: 1024px) {
  .destination {
    padding-top: 2rem;
  }
  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
  }
  .destination p {
    text-align: left;
    align-self: self-start;
    font-size: 20px;
  }
  .destination img {
    width: 100%;
    object-fit: contain;
    scale: 0.9;
  }

  .item_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .planet_list {
    justify-content: start;
  }
  .destination h2 {
    text-align: left;
    font-size: 81px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .extra {
    flex-direction: row;
    justify-content: space-between;
  }
  .extra p:nth-child(1) {
    font-size: 16px;
  }
  .extra p:nth-child(2) {
    font-size: 32px;
  }
}
