.planet_list {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  cursor: pointer;
}
.active{
    border-bottom: 3px solid var(--color-2);
    padding-bottom: 0.4rem; 
}

.extra {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2.5rem 0;
  width: 100%;
}
