.technologyPage_container {
  gap: 3rem;
  padding-top: 2rem;
}

.technology_img__sm {
  width: 100dvw;
}
.technology_img__lg {
  display: none;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.body_item1 {
  gap: 2rem;
  padding-bottom: 4rem;
}

.img_tacker_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.img_tracker {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid grey;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_tracker:hover {
  border: 1px solid white;
}

.active {
  background-color: white;
  color: black;
}

/*== Tablet  */
@media screen and (min-width: 720px) {
  .content > p {
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
  }
}

/* ==Pc */
@media screen and (min-width: 1024px) {
  .technologyPage_container {
    align-items: start;
  }
  .technologyPage_container,
  .technologyPage_container p {
    text-align: left;
  }

  .technology_img__sm {
    display: none;
  }
  .technology_img__lg {
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 4rem;
    height: 423px;
  }
  .body_item1 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }

  .img_tacker_container {
    flex-direction: column;
  }

  .content {
    width: 80%;
  }
}
