.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sub__cont_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explore {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  background-color: var(--txt-heading);
  color: var(--bg-color);
  font-size: 28px;
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 720px) {
  .home{
    padding-top: 2rem;
  }
}