body{
  background: url(../assets/home/background-home-mobile.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin-bottom: 1rem;
}
h5 {
  margin: 1.5rem;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub__cont_1 {
  margin: 0;
}
.sub__cont_2 {
  padding: 1rem;
}
.explore {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  line-height: 10rem;
  font-size: 30px;
}
